.header {
  width: 100%;
  margin: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4px;
  font-family: "Gilroy-Medium";
}
.companyLogo {
  width: 25vh;
  height: 10vh;
  margin: 2vh 10vh;
}
.navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 2vh 2vh;
  font-size: 18px;
  line-height: 27px;
}
.navItem {
  margin: 2vh;
  font-family: "Gilroy-Medium";
}
.bannerContainer {
  width: 100%;
}
.banner {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}
.bannerText {
  margin-top: 0;
  margin: auto auto 0 4px;
  text-align: center;
}
.bannerTitle {
  width: 100%;
  font-size: 60px;
  font-weight: 500;
  text-align: left;
  margin: 4% auto 2% 2%;
  font-family: "Gilroy-Medium";
}
.bannerSubtitle {
  font-size: 22px;
  line-height: 33px;
  width: 75%;
  text-align: left;
  margin-left: 2%;
  margin-top: 0;
  font-family: "Gilroy-Medium";
}
.sectionHeading {
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  text-align: center;
}
.portfolioContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}
.portfolioImage {
  width: 90vh;
  height: 60vh;
  margin: 0px 5vh;
}
.companyName {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  font-family: "Gilroy-Medium";
}
.companyDescription {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Gilroy-Medium";
}
.teamContainer {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}
.teamImage {
  width: 40vh;
  height: 40vh;
  margin: 5vh;
  border-radius: 3%;
}
.teamText {
  margin: 5vh;
}
.name {
  font-family: "Gilroy-Medium";
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
.about {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Medium";
}
/* our philosophy */
.philosophyContainer {
  width: 100%;
  margin: auto;
  padding: 40px;
  text-align: center;
}
.philosophy {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 30px;
  justify-content: space-evenly;
  font-family: "Gilroy-Medium";
}
.pContent {
  margin: 0px 10vh;
}
.pContent img {
  width: 20vh;
  height: 20vh;
}
.pContent h2 {
  min-height: 10vh;
}
.footerContent {
  display: flex;
  justify-content: space-between;
  margin: 10vh 5vh;
}
.copyright {
  text-align: center;
  padding-bottom: 10vh;
}
